<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        <?php view('common.nav') ?>
    <form action="/user/uploaderImages" enctype="multipart/form-data" method="post">
        上传文件
        <input type="file" id="img" name="images" ><br>


            <?php csrf_filed()?>
            <input type="submit" value="上传">
          
    </form>
    <?php view('common.foot') ?>
</body>
</html>