<script src="/simditor-2.3.6/scripts/jquery.min.js"></script>
<?php if(isset($_SESSION['_MESS_'])): ?>
<div id="_mess_" style="border: 1px solid #25b952;background-color:#b9ecbd;padding:5px;">
    <?=$_SESSION['_MESS_']?>
</div>
<?php unset($_SESSION['_MESS_']) ?>
<script>
var m = document.getElementById('_mess_');
var s = 3;
var si = setInterval(function(){
    s--;
    if(s==0)
    {
        m.style.display='none';
        clearInterval(si);
    }
}, 1000);
</script>
<?php endif; ?>

<h2>智聊系统</h2>
<a href="/blog/index">首页</a>
<?php if(isset($_SESSION['id'])): ?>
    <img  class ="face" src="<?=$_SESSION['avatar']==''?'/images/face.jpg':$_SESSION['avatar']; ?>" alt="">
    <?=$_SESSION['email']?>(<span id="up_span"><?=$_SESSION['money'] ?>    元   </span>
   <input type="button" value="更新" id="up">     )
    <a href="/user/logout">退出</a>
    <a href="/user/charge">充值</a>
    <a href="/user/face">设置头像</a>
<?php else: ?>
    <a href="/user/login">登录</a>
    <a href="/user/regist">注册</a>
<?php endif; ?>
<hr>
<script>
    $("#up").click(function(){
        $("#up_span").load("/user/money");
    });
</script> 
<style>
    .face {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        vertical-align: bottom;
        padding: 2px;
        border:1px solid skyblue;
    }
</style>